<table>
	<tr><td>Nombre:</td>		<td><%= @bussiness.name %></td></tr>
	<tr><td>Nombre fiscal:</td>	<td><%= @bussiness.fiscal_name %></td></tr>
	<tr><td>cif:</td>			<td><%= @bussiness.cif %></td></tr>
	<tr><td>Teléfono:</td>		<td><%= @bussiness.phone %></td></tr>
	<tr><td>Fax:</td>			<td><%= @bussiness.fax %></dt></tr>
	<tr><td>email:</td>			<td><%= @bussiness.email %></td></tr>
	<tr><td>Web:</td>			<td><%= @bussiness.website %></td></tr>
	<tr><td>Dirección:</td>		<td><%= @bussiness.address1 %></td></tr>
	<tr><td></td>				<td><%= @bussiness.address2 %></dt></tr>
	<tr><td>Código postal:</td>	<td><%= @bussiness.postal_code %></td></tr>
	<tr><td>Ciudad:</td>		<td><%= @bussiness.city %></td></tr>	
	<tr><td>Provincia:</td>		<td><%= @bussiness.state %></td></tr>
	<tr><td>País:</td>			<td><%= @bussiness.country %></td></tr>
	<br />
	<tr><td>Cliente?:</td>		<td><%= @bussiness.customer %></td></tr>
	<tr><td>Proveedor?:</td>	<td><%= @bussiness.supplier %></td></tr>
	<br />
	<tr><td>Notas:</td>			<td><%= @bussiness.notes %></td></tr>
</table>
