<h1>Transformaci칩n de producto</h1>
<%= link_to 'Borrar', product_product_transformation_path(@product), :method => :delete %> <br />
<dl>
	<dt>Producto:</dt>
	<dd> Proveedor: <%= @product.supplier.name %>
	<dd> C칩digo: <%= @product.code %> </dd>
	<dd> Descripci칩n: <%= @product.description %> </dd>
	<dd> Cantidad: <%= @product_transformation.quantity %> <%= link_to 'Editar', edit_product_product_transformation_path(@product) %> </dd>
</dl>
<h3>Transformar a:</h3>
<ul>
	<%= render @product_transformation_lines %>
</ul>
<%= link_to 'A침adir producto', new_product_product_product_transformation_path(@product) %>