<tr>
	<td><%= link_to product.code, product_path(product) if product.code %></td>
	<td><%= link_to product.description, product_path(product) %></td>
	<td><%= product.product_category.name if product.product_category %></td>
	<td><%= product.supplier.name if product.supplier %></td>
	<td class="right-aligned"><%= product.quantity(Time.now) %></td>
	<td class="right-aligned"><%= to_euros(product.sell_price) %></td>
</tr>
