<div id="menu">
	<ul>
		<li> <%= image_tag "logo-peq.png" %> </li>
		<li <% if controller_name == 'home' %> class="selected" <% end %> >
			<%= link_to (image_tag "icons/large/home.png")<<' Inicio', :root %>
		</li>
		<%  if current_user_has_role?('menu_tpv') %>
			<li <% if [	'pos_menu' ].include? controller_name %> class="selected" <% end %> >
				<%= link_to (image_tag "icons/large/pos.png")<<' TPV', '/pos_menu' %>
			</li>
		<% end %>
		<%  if current_user_has_role?('menu_ventas') %>
			<li <% if [	'sales_menu',
						'sales',
						'sale_lines'].include? controller_name %> class="selected" <% end %> >
				<%= link_to (image_tag "icons/large/sales.png")<<' Ventas', '/sales_menu' %>
			</li>
		<% end %>
		<%  if current_user_has_role?('menu_productos') %>
			<li <% if [	'products_menu',
						'product_categories',
						'merchandise_receptions',
						'merchandise_reception_lines'].include? controller_name %> class="selected" <% end %> >
				<%= link_to (image_tag "icons/large/products.png")<<' Productos', '/products_menu' %>
			</li>
		<% end %>
		<%  if current_user_has_role?('menu_contactos') %>
			<li <% if [	'contact_book_menu',
				 		'appointments',
				 		'bussinesses',
						'contacts',
						'people'].include? controller_name %> class="selected" <% end %> >
				<%= link_to (image_tag "icons/large/contact_book.png")<<' Contactos', '/contact_book_menu' %>
			</li>
		<% end %>
		<%  if current_user_has_role?('menu_admin') %>
			<li <% if [	'admin_menu',
				 		'roles',
				 		'users'].include? controller_name %> class="selected" <% end %> >
				<%= link_to (image_tag "icons/large/admin.png")<<' Administración', '/admin_menu' %>
			</li>
		<% end %>
	</ul>
</div>